node_modules/
dist/
build/
.env
.env.*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

bin/
*.exe
*.out
*.test
vendor/

.DS_Store
Thumbs.db
.vscode/
.idea/

logs/
*.log

coverage/
.tmp/
.cache/

guides/